{{- $database := promptStringOnce . "database" "Database location" -}}
{{- $email := promptStringOnce . "email" "Email address" -}}

[data]
    email = {{ $email | quote }}
[git]
    autoCommit = true
    autoPush = true
encryption = "gpg"
[gpg]
    recipient = "dsoyet@foxmail.com"
[keepassxc]
    database = {{ $database | quote }}
