[google]
type = drive
client_id = {{ keepassxcAttribute "Google" "client_id" }}
client_secret = {{ keepassxcAttribute "Google" "client_secret" }}
scope = drive
token = {"access_token":{{ keepassxcAttribute "Google" "access_token" }},"token_type":"Bearer","refresh_token":{{ keepassxcAttribute "Google" "refresh_token" }},"expiry":"2024-05-03T02:18:05.057732058+08:00"}
team_drive = 

[onedrive]
type = onedrive
token = {"access_token":{{ keepassxcAttribute "Microsoft" "access_token" }},"token_type":"Bearer","refresh_token":{{ keepassxcAttribute "Microsoft" "refresh_token" }},"expiry":"2024-05-03T03:22:23.777854532+08:00"}
drive_id = 2505b0eb7e7a011e
drive_type = personal

[cos]
type = s3
provider = TencentCOS
access_key_id = {{ keepassxcAttribute "Job" "cos_access_key_id" }}
secret_access_key = {{ keepassxcAttribute "Job" "cos_secret_access_key" }}
endpoint = cos.ap-beijing.myqcloud.com
acl = default

[bootstrap]
type = alias
remote = cos:bj-efficient-1301935175

