[Interface]
PrivateKey = {{ keepassxcAttribute .chezmoi.hostname "privkey" }}
Address = {{ keepassxcAttribute .chezmoi.hostname "address" }}
MTU = 1280

#peers/server
[Peer]
PublicKey = P/SmXaUX3sZTiL638/6ElmAqlRnewDnuzXxOPagfAXs=
AllowedIPs = 192.168.64.0/24
Endpoint = {{ keepassxcAttribute "aliyun" "endpoint" }}
PersistentKeepalive = 1
