Host storage
  HostName 192.168.235.53
  User vagrant
Host debian
  HostName 192.168.235.54
  User vagrant
Host sg
  HostName {{ keepassxcAttribute "sg" "hostname" }}
  User debian
Host uk
  HostName {{ keepassxcAttribute "uk" "hostname" }}
  User debian
Host g634j
  HostName 192.168.64.25
Host rar8x
  HostName 192.168.64.31
Host aliyun
  HostName {{ keepassxcAttribute "aliyun" "ip" }}
  Port 2222
  LocalForward 38384 localhost:8384
Host suse
  HostName 192.168.122.172
Host gitlab
  HostName 10.16.129.17
  User admin
Host deploy
  HostName 10.16.129.139
  User admin
Host rc
  HostName {{ keepassxcAttribute "Job" "jump" }}
  User shenyang
  Port 2222
  ControlPath ~/.local/state/openssh/%r@%h:%p
  ControlMaster auto
  ControlPersist 2h
  PubkeyAcceptedAlgorithms +ssh-rsa
  HostkeyAlgorithms +ssh-rsa
Host g634s
  HostName 192.168.64.25
  Port 2103
  User vagrant
Host rar8s
  HostName 192.168.64.31
  Port 2103
  User vagrant
Host outlook
  HostName 192.168.64.24
  User admin
Host offline
  HostName 192.168.235.64
  User vagrant

Host *
  StrictHostKeyChecking no
  Port 22
  LogLevel FATAL
  UserKnownHostsFile=/dev/null
