[Desktop Entry]
Version=1.0
Type=Application
Name=Proxy
GenericName=VPN Client
Comment=Browse the Internet safely with Astrill
Exec=/opt/bootstrap/astrill
Icon=/opt/bootstrap/astrillon.png
Terminal=false
X-MultipleArgs=false
StartupNotify=true
Categories=GNOME;GTK;Application;Network;
