{
  "databases": [
    {
      "id": "git",
      "key": "{{ keepassxcAttribute "Token" "key" }}",
      "pkey": "{{ keepassxcAttribute "Token" "pkey" }}",
      "group": "Git",
      "group_uuid": "ad263baf96f34a7b8b88c7eab48c0ef4"
    }
  ],
  "callers": [
    {
      "path": "/usr/bin/bash",
      "uid": 1000,
      "gid": 1000,
      "canonicalize": false
    },
    {
      "path": "/usr/bin/git",
      "uid": 1000,
      "gid": 1000,
      "canonicalize": false
    }
  ]
}
