[core]
	repositoryformatversion = 0
	filemode = true
	bare = false
	logallrefupdates = true
[submodule]
	active = .
[remote "origin"]
	pushurl = https://gitee.com/dsoyet/dotfiles.git
	url = https://gitee.com/dsoyet/dotfiles.git
	fetch = +refs/heads/*:refs/remotes/origin/*
	pushurl = https://github.com/dsoyet/dotfiles.git
[branch "main"]
	remote = origin
	merge = refs/heads/main
