client
dev tun
proto tcp
sndbuf 0
rcvbuf 0
remote {{ keepassxcAttribute "Job" "openvpn" }} 11940
resolv-retry infinite
nobind
key-direction 1
persist-key
persist-tun
auth-user-pass pass.txt
remote-cert-tls server
auth SHA512
cipher AES-256-CBC
#setenv opt block-outside-dns
verb 3
<ca>
-----BEGIN CERTIFICATE-----
MIIDKzCCAhOgAwIBAgIJAK0pvatYNLWoMA0GCSqGSIb3DQEBCwUAMBMxETAPBgNV
BAMMCENoYW5nZU1lMB4XDTIxMDgxNjEwMTAxN1oXDTMxMDgxNDEwMTAxN1owEzER
MA8GA1UEAwwIQ2hhbmdlTWUwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIB
AQC3k/7lrHfSvzmuAhMmDfh0LlJGMk+mKSflthyTzRx7t/EiyCVf0Rp4BiuyLjPV
VOz1ew4P/xCRgdnJvNsJyW4IaBYqyi/gGpJmjSZhvFoIl0IiMsic/cT3pIx/VruI
m8vke6xuAlp1O7u5oCA+VzThc1BfOTdWF7XVl7ikui3e81iNTuuHgJn6ZQCpYhnt
q/r6OLBukhR551tlLWI6DUu2oVnX/PGQVwaeKNFUTwvS/9EY91l3ZSODxL+ELifV
4kkeml5rJX+ea1G0HgT/IZQGcqdUs1tP022nIOAWSIqb/y0gNTtGXsY1IYQ/B+if
OW0Hupim0HQHG9o6xoWVW+t1AgMBAAGjgYEwfzAdBgNVHQ4EFgQUOL5RFADj7LM1
izpN2DzDPcF3tykwQwYDVR0jBDwwOoAUOL5RFADj7LM1izpN2DzDPcF3tymhF6QV
MBMxETAPBgNVBAMMCENoYW5nZU1lggkArSm9q1g0tagwDAYDVR0TBAUwAwEB/zAL
BgNVHQ8EBAMCAQYwDQYJKoZIhvcNAQELBQADggEBAKMbhYJ7pnque8bGizL7W9pG
36cBDNgI3ifgbHt0FJ2FiSJcRAMY+9VepcaJJQ9WeHQ9Lry8Sxd0dJt39Ofb7/Jj
miPHHZbjXsloJskuOKu2fQqKSberedkXdkC6BArxJE8C/h3XhF3cx1KfV0wYUvsG
0qdijscmXP6mEGezkU15L7qB08b2OXGHtHcOrxTxvTb/ohMdOdyl6Dowx3e6guk4
OMG+iIJ334YJ+gEdDyIbVrXTTKlJx0daUsrxwqxMPRqqgSpeA3FUVw7WDpMN5zMp
ycqYY/rwtAzA7UVdndUAuj8lNZh+8N+gujdK3IrLnxnmG5sp7s+Dof2HaOkZL3M=
-----END CERTIFICATE-----
</ca>
<cert>
-----BEGIN CERTIFICATE-----
MIIDTDCCAjSgAwIBAgIRAIgW12veAYxxmr3ADbkuSwUwDQYJKoZIhvcNAQELBQAw
EzERMA8GA1UEAwwIQ2hhbmdlTWUwHhcNMjEwODE2MTAxMDE3WhcNMzEwODE0MTAx
MDE3WjAZMRcwFQYDVQQDDA50eC10ZXN0LWNsaWVudDCCASIwDQYJKoZIhvcNAQEB
BQADggEPADCCAQoCggEBAMoY7OPk92fh0qUEGNc7SHbN94UUGHRkZRA86eShAthm
rFiV1Lsw8PNlN+wyMzW435flppZzDRgyx4BOHbVL88eWllPDeWL2LFUcOFxUpyHN
S8jXp64zhmVkig1Qf0W1MLQJuD+mhARtM1s3M2Y0R7/e4KX2yrMaFI/jyzLbyyCV
CC0DQvvXmzECHhEWcEM6KMWqpMXebp/dlATOasMxeaLAa+K5EzA1/4uVbDTqwAug
UR1psVKQmcOQOUokk9+TD68J2Es6oFP2PZBmGTB6rQ0/H+WJgX+pbokYaYACGmpg
IQnKEb38Usqr/mC4qW/bkTisi0Dilp5tEYGWIn82Ap0CAwEAAaOBlDCBkTAJBgNV
HRMEAjAAMB0GA1UdDgQWBBTxa17qAWpaPC4YZ3NvyaFX+JlCRzBDBgNVHSMEPDA6
gBQ4vlEUAOPsszWLOk3YPMM9wXe3KaEXpBUwEzERMA8GA1UEAwwIQ2hhbmdlTWWC
CQCtKb2rWDS1qDATBgNVHSUEDDAKBggrBgEFBQcDAjALBgNVHQ8EBAMCB4AwDQYJ
KoZIhvcNAQELBQADggEBAELMYEvFw7tCJ3SUgExdFZvqOLsrNFku0ffmiYgpt1rh
PjpgJuq8z2kbpzA/N/t3wsbC9C8LDLjah8OGkGVKGI3MEZEqbBd7uzJyPpbjm4Oy
sO++3/AgrrsJW23Shqb8dwBebH25JnFtpaasjY3JiP9dkRkIJGo2dSDaeBJaDCg+
9MVY7mmmwobuDw3me2mFZLZAHu+kOkbb0Vk6gYo/8xx+q57hwcQTDUU5QRka0SX3
fkrO9409JWNL9r40cS/+TnswreA/OrQY2wmgtQ4SgU/o1IOk0/kSvHFSac0I9l4C
0PU40OV64iopm3NeBGTWtMJShDVPabaK9wANMfp+2Sg=
-----END CERTIFICATE-----
</cert>
<key>
{{ keepassxcAttribute "Job" "vpnkey" }}
</key>
<tls-auth>
-----BEGIN OpenVPN Static key V1-----
6e748ea7e6a9164851609467a6fbf1af
aca32f28c541887f40557f64ba65758b
9ec418d15f308b3c1f9df7a8a943d524
b6d4a606d7e4b6c415cdebeae830a7f1
fe4f62fdf87df8734cbfa74dd4428172
cd8835463c1c99777ff812b319fa6414
01d00a61660996aa9bda28c04359c83d
a03e9f0de5338caa2e5e93ab54ad4930
a837348b4aa38f8c827b703357cd6eea
b3ed9a968fdcd987fed12ed46f4594dd
d9da268641e98b88dc27239ec5b44a62
83c95223f69121e53e4177e631cfed21
77be96195c066fa5d27faa02ca90c511
8fcbf9a81afcb6d447971032331d9349
473423cb5cf32b9b0b99a18189893b95
597c980c404930c5181dc2ea5fb22e8c
-----END OpenVPN Static key V1-----
</tls-auth>

