{
	"current": "default",
	"profiles": [
		{
			"name": "default",
			"mode": "AK",
			"access_key_id": {{ keepassxcAttribute "aliyun" "access_key_id" }},
			"access_key_secret": {{ keepassxcAttribute "aliyun" "access_key_secret" }},
			"sts_token": "",
			"sts_region": "",
			"ram_role_name": "",
			"ram_role_arn": "",
			"ram_session_name": "",
			"source_profile": "",
			"private_key": "",
			"key_pair_name": "",
			"expired_seconds": 0,
			"verified": "",
			"region_id": "cn-shanghai",
			"output_format": "json",
			"language": "en",
			"site": "china",
			"retry_timeout": 0,
			"connect_timeout": 0,
			"retry_count": 0,
			"process_command": "",
			"credentials_uri": "",
			"oidc_provider_arn": "",
			"oidc_token_file": ""
		}
	],
	"meta_path": ""
}
